<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="500" width="500" src="https://tse1.mm.bing.net/th?id=OIP.SZdJ7aEjxzu2cbL2uY5CPgHaD6&pid=Api&P=0&w=290&h=153" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Munnar</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="500" width="500" src="https://tse2.mm.bing.net/th?id=OIP.ekjHK-xdRLw2slxJph_H1gHaE8&pid=Api&P=0&w=276&h=184" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Ooty</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="500" width="500" src="https://tse2.mm.bing.net/th?id=OIP.PR6o1VSaEc20IXq7gLcHrgHaEK&pid=Api&P=0&w=292&h=164" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pairs</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="500" width="500" src="https://tse1.mm.bing.net/th?id=OIP.bG8t9nihyZgKx4FP8Y_J0AHaEo&pid=Api&P=0&w=273&h=171" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">London</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="500" width="500" src="https://tse4.mm.bing.net/th?id=OIP.C1bH6nhDixeoOvELYZW4XQHaFP&pid=Api&P=0&w=217&h=153" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Taj Mahal</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="500" width="500" src="https://tse2.mm.bing.net/th?id=OIP.0OHIYmIxHqkIX08alHI3xgHaDz&pid=Api&P=0&w=350&h=180" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mysore</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="500" width="500" src="https://tse3.mm.bing.net/th?id=OIP.3A1elgSnOGyzcTB0SeVWeAHaEM&pid=Api&P=0&w=269&h=152" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Delhi</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="500" width="500" src="https://tse4.mm.bing.net/th?id=OIP.bbZW6iGVdC0GnEJPiho_zQHaFj&pid=Api&P=0&w=250&h=187" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hyderabad</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="500" width="500" src="https://tse2.mm.bing.net/th?id=OIP.fZRb4N6SNwgomF68R4g7HAHaE7&pid=Api&P=0&w=263&h=175" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alapuzha</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="500" width="500" src="https://tse2.mm.bing.net/th?id=OIP.YGuMacFNwLYq6i3QrNCnGgHaE8&pid=Api&P=0&w=272&h=181" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Kozhikode</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
